@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ededed;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}

.animate-scaleIn {
  animation: scaleIn 0.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

/* Ensure the container takes up the whole screen area in fullscreen mode */

/* Targets the container when in fullscreen mode */
div:fullscreen video {
  max-height: 100vh !important;
  width: 100vw !important;
  object-fit: contain;
}

div:fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
